/* Applying Red borders in
 * every possible html elements
 */

* { 
	/* border: 1px solid red; */
}

/* Applying Blue border in body */
body {
	/* border: 2px dashed blue; */
}

/* font */

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}

.background-color{
    background-color: #FFF8F3;
}

/* text color */
.dark-2{
color: #474747;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #161616;
    
}

.section-description{
    
    font-size: 18px;
    color: #757575;
}

/* button */
.btn-primary{
    background-color: #FD6E0A;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-secondary{
    background-color: #FFF8F3;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;


}

/* header */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat:no-repeat;
    background-position: top left, bottom right;
    max-width: 1600px;
    margin: 0 auto;
    
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    opacity: 40%;
}

.Nav-title-letter{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none; 
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    
}

/* banner styles */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px 0 230px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}

.banner-title{
    font-size: 85px;
    font-weight: bold;
 
}

.banner-content{
    max-width: 580px;
    
}

.banner-profile-pic{
    width: 584px;
    height: 676px;
}

.banner-description{
    font-size: 18px;
    color: #757575;
}

/* main */

main{
    max-width: 1140px;
    margin: 0 auto
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;   
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 18px;
    color: #757575;
}

.item-description{
    font-size: 20px;
    font-weight: bold;
}

.whatido{
    margin-bottom: 100px;
    padding: 20px;
}

.skills{
    text-align: center;
    padding: 60px 30px;
    margin-bottom: 130px;
    
}

.skill-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.skill-title{
    font-size: 20px;
    font-weight: bold;
}

.skill-description{
    font-size: 16px;
    color: #757575;
    text-align: left;
    
}

.skill{
    padding: 20px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;

}

.resume-title{
    text-align: center;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 0;

}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-top: 0;
}

.experience-description{
    font-size: 16px;
    color: #757575;
    margin-bottom: 40px;
}

.resume-container{
    display: flex;
    gap: 24px;
}

.button{
    text-align: center;
    margin-bottom: 130px;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 150px;
    max-width: 1200px;
    max-height: 780px;
    margin: 0 auto;
}

.footer-column{
    text-align: left;
}

form{
    display: block;
}

/* footer input[type=text], footer input[type=email], footer textarea{} */

.footer-form{
    height: 64px;
    width: 461px;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;
}

.footer-form-text{
   height: 180px;
    width: 461px;
    border: none;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 20px 20px;
    margin-bottom: 24px; 
    font-size: 16px;
}
    
